In [1]:
import os
# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.4.2'
spark_version = 'spark-3.4.2'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Get:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Hit:3 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:4 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [673 kB]
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Get:10 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [109 kB]
Hit:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:12 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,065 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [1,728 kB]
Get:14 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [1,751 kB]
Get:15 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,440 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [1,810 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,335 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy-backports/universe amd64 Packages [28.1 kB]
Fetched 10.2 MB in 2s (4,441 kB/s)
Reading package lists... Done

In [2]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [3]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

In [4]:
# 2. Create a temporary view of the DataFrame.
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep=",", header=True)
df.show()

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [5]:
df.createOrReplaceTempView('home_sales')

In [6]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- date: string (nullable = true)
 |-- date_built: string (nullable = true)
 |-- price: string (nullable = true)
 |-- bedrooms: string (nullable = true)
 |-- bathrooms: string (nullable = true)
 |-- sqft_living: string (nullable = true)
 |-- sqft_lot: string (nullable = true)
 |-- floors: string (nullable = true)
 |-- waterfront: string (nullable = true)
 |-- view: string (nullable = true)

In [7]:
#Converting the data types of teh following columns
from pyspark.sql.functions import col, year
from pyspark.sql.types import DateType
from pyspark.sql.types import IntegerType

df = df.withColumn("date", col("date").cast("date"))
df = df.withColumn("price", df["price"].cast(IntegerType()))
df = df.withColumn("bedrooms", df["bedrooms"].cast(IntegerType()))
df = df.withColumn("bathrooms", df["bathrooms"].cast(IntegerType()))
df = df.withColumn("sqft_living", df["sqft_living"].cast(IntegerType()))
df = df.withColumn("sqft_lot", df["sqft_lot"].cast(IntegerType()))
df = df.withColumn("floors", df["floors"].cast(IntegerType()))
df = df.withColumn("view", df["view"].cast(IntegerType()))

# Extract the year from the "date" column
df = df.withColumn("year", year("date"))


df.printSchema()

root
 |-- id: string (nullable = true)
 |-- date: date (nullable = true)
 |-- date_built: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- bedrooms: integer (nullable = true)
 |-- bathrooms: integer (nullable = true)
 |-- sqft_living: integer (nullable = true)
 |-- sqft_lot: integer (nullable = true)
 |-- floors: integer (nullable = true)
 |-- waterfront: string (nullable = true)
 |-- view: integer (nullable = true)
 |-- year: integer (nullable = true)

In [8]:
# 3. What is the average price for a four bedroom house sold in each year rounded to two decimal places?
from pyspark.sql.functions import mean, format_number


#Filtering data to just look at homes with a four bedroom
four_bedroom = df.filter("bedrooms = 4")

#Calculating the median price of a four bedroom house for each year
four_bedroom_by_year = four_bedroom.groupBy("year").avg("price")
four_bedroom_by_year.show()

# Format the "price" column to two decimal places
formatted_df = four_bedroom_by_year.withColumn("avg(price)", format_number("avg(price)", 2))

# Show the result
formatted_df.show(truncate=False)

+----+------------------+
|year|        avg(price)|
+----+------------------+
|2022| 296363.8845050215|
|2019| 300263.6955128205|
|2020|298353.78003169573|
|2021|   301819.44398864|
+----+------------------+

+----+----------+
|year|avg(price)|
+----+----------+
|2022|296,363.88|
|2019|300,263.70|
|2020|298,353.78|
|2021|301,819.44|
+----+----------+

In [9]:
# 4. What is the average price of a home for each year the home was built that have 3 bedrooms and 3 bathrooms rounded to two decimal places?

#Filtering the data to three bedrooms and 3 bathrooms
three_bed_bath = df.filter((col("bedrooms")==3) & (col("bathrooms")==3))
three_bed_bath.show()

#Calculating the median price of a 3 bedroom and 3 bathroom for each year
three_bed_bath_by_year = three_bed_bath.groupBy("year").avg("price")
three_bed_bath_by_year.show()

#Formatting price column to two decimal places
formatted_price = three_bed_bath_by_year.withColumn("avg(price)", format_number("avg(price)", 2))

#Show the result
formatted_df.show(truncate=False)

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|year|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+----+
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|2020|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|2021|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|2019|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|2020|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|2021|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|2019|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|2019|
|50873b8b-92b8-44c...|2022-06-05|      2017|268554|       3|        3|       1962|   13955|     2|         0|   6|2022|
|e0fc52aa-c349-4ba...|2019-04-17|      2016|202790|       3|        3|       2025|   10987|     2|         0|  19|2019|
|e252c4ce-b5b2-4ef...|2019-10-28|      2014|168463|       3|        3|       2271|    8317|     2|         0|   2|2019|
|a16c1fd3-50c3-4e7...|2020-02-12|      2014|372151|       3|        3|       1787|   12012|     2|         0|  16|2020|
|0ffe23e3-9d0f-442...|2021-11-18|      2017|429183|       3|        3|       2162|   12567|     1|         0|  49|2021|
|bb2ff269-f08f-4e8...|2022-03-06|      2010|429030|       3|        3|       2049|   11882|     2|         0|  23|2022|
|77a2d239-67a3-43b...|2021-06-18|      2016|396508|       3|        3|       1890|   10081|     2|         0|  25|2021|
|34c31a34-220d-469...|2019-02-06|      2015|409011|       3|        3|       2356|   10507|     1|         0|   1|2019|
|7acb88a1-8a4f-4a7...|2019-03-31|      2016|351363|       3|        3|       1771|   13037|     2|         0|  13|2019|
|d03391c1-cfd4-4d1...|2022-04-01|      2011|158791|       3|        3|       2371|   12585|     2|         0|  23|2022|
|0c686512-f14e-450...|2022-06-12|      2013|391189|       3|        3|       1552|    9659|     2|         0|  31|2022|
|24ba1e84-88a6-4e3...|2019-09-17|      2017|207869|       3|        3|       1768|   11426|     1|         0|  12|2019|
|00ce46df-952c-4ce...|2020-05-11|      2016|430471|       3|        3|       1935|   13334|     2|         0|  10|2020|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+----+
only showing top 20 rows

+----+------------------+
|year|        avg(price)|
+----+------------------+
|2022| 292725.6931818182|
|2019|287287.81696428574|
|2020| 294204.1629104958|
|2021| 294211.4595798854|
+----+------------------+

+----+----------+
|year|avg(price)|
+----+----------+
|2022|296,363.88|
|2019|300,263.70|
|2020|298,353.78|
|2021|301,819.44|
+----+----------+

In [24]:
# 5. What is the average price of a home for each year built that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet rounded to two decimal places?

#Filtering to three bedroom, three bath, with 2 floors and greater than or equal to 2,000 sqft.
two_floors_2000sqft = three_bed_bath.filter((col("floors") == 2) & (col("sqft_living")>=2000))
two_floors_2000sqft.show()

#Calculating the average price of a 3 bed, 3 bath, with 2 floors for each year
two_floors_2000sqft_by_year = two_floors_2000sqft.groupBy("year").avg("price")
two_floors_2000sqft_by_year.show()

#Formatting prices to two places after decimal
formatted_price = two_floors_2000sqft_by_year.withColumn("avg(price)", format_number("avg(price)", 2))

#Show result
formatted_price.show(truncate = False)

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|year|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+----+
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|2020|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|2019|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|2019|
|e0fc52aa-c349-4ba...|2019-04-17|      2016|202790|       3|        3|       2025|   10987|     2|         0|  19|2019|
|e252c4ce-b5b2-4ef...|2019-10-28|      2014|168463|       3|        3|       2271|    8317|     2|         0|   2|2019|
|bb2ff269-f08f-4e8...|2022-03-06|      2010|429030|       3|        3|       2049|   11882|     2|         0|  23|2022|
|d03391c1-cfd4-4d1...|2022-04-01|      2011|158791|       3|        3|       2371|   12585|     2|         0|  23|2022|
|2792bb6d-ea02-4e2...|2021-02-09|      2010|360444|       3|        3|       2383|   12503|     2|         0|  29|2021|
|1fc8277d-ac34-424...|2022-04-26|      2017|254527|       3|        3|       2226|   14060|     2|         0|  42|2022|
|c2be38fb-814a-403...|2020-03-20|      2015|352237|       3|        3|       2485|   10954|     2|         0|   6|2020|
|a4a1a614-ad3c-4f8...|2021-01-11|      2015|425489|       3|        3|       2051|    9161|     2|         0|  26|2021|
|ce519c6e-701a-4a2...|2022-03-05|      2015|236997|       3|        3|       2487|   11245|     2|         0|  21|2022|
|6538df3c-c572-462...|2022-06-09|      2016|267870|       3|        3|       2472|   14278|     2|         0|  41|2022|
|35b76ec7-acb2-414...|2019-10-25|      2011|395216|       3|        3|       2262|   14606|     2|         0|  29|2019|
|f90159cd-a594-476...|2021-05-26|      2012|370767|       3|        3|       2377|   11272|     2|         0|  12|2021|
|e465b697-4836-4b1...|2019-01-05|      2015|134866|       3|        3|       2349|   11703|     2|         0|  40|2019|
|2d14ecd6-8bf4-4ff...|2021-12-17|      2016|374508|       3|        3|       2025|   14006|     2|         0|  17|2021|
|c97e7ca7-ae79-4c8...|2022-03-10|      2014|351896|       3|        3|       2008|    9974|     2|         0|  29|2022|
|ffff94aa-797c-49e...|2019-07-18|      2010|402063|       3|        3|       2148|   11188|     2|         0|  15|2019|
|b377baf4-cc12-4bd...|2019-08-25|      2017|317951|       3|        3|       2355|   11386|     2|         0|  11|2019|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+----+
only showing top 20 rows

+----+-----------------+
|year|       avg(price)|
+----+-----------------+
|2022|290242.9879518072|
|2019|289859.1354679803|
|2020|292289.0895140665|
|2021|296330.9612590799|
+----+-----------------+

+----+----------+
|year|avg(price)|
+----+----------+
|2022|290,242.99|
|2019|289,859.14|
|2020|292,289.09|
|2021|296,330.96|
+----+----------+

In [11]:
# 6. What is the "view" rating for the average price of a home, rounded to two decimal places, where the homes are greater than
# or equal to $350,000? Although this is a small dataset, determine the run time for this query.

start_time = time.time()

query_sql = """
SELECT (ROUND(AVG(price), 2)), view
 FROM home_sales
 GROUP BY view
 HAVING AVG(price)>=350000
 ORDER BY view desc
 """

spark.sql(query_sql).show()


print("--- %s seconds ---" % (time.time() - start_time))

+--------------------+----+
|round(avg(price), 2)|view|
+--------------------+----+
|          1061201.42|  99|
|          1053739.33|  98|
|          1129040.15|  97|
|          1017815.92|  96|
|           1054325.6|  95|
|           1033536.2|  94|
|          1026006.06|  93|
|           970402.55|  92|
|          1137372.73|  91|
|          1062654.16|  90|
|          1107839.15|  89|
|          1031719.35|  88|
|           1072285.2|  87|
|          1070444.25|  86|
|          1056336.74|  85|
|          1117233.13|  84|
|          1033965.93|  83|
|           1063498.0|  82|
|          1053472.79|  81|
|           991767.38|  80|
+--------------------+----+
only showing top 20 rows

--- 1.6999609470367432 seconds ---

In [13]:
# 7. Cache the the temporary table home_sales.
spark.sql('cache table home_sales')

DataFrame[]

In [16]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

True

In [17]:
# 9. Using the cached data, run the query that filters out the view ratings with average price
#  greater than or equal to $350,000. Determine the runtime and compare it to uncached runtime.

start_time = time.time()

query_sql = """
SELECT (ROUND(AVG(price), 2)), view
 FROM home_sales
 GROUP BY view
 HAVING AVG(price)>=350000
 ORDER BY view desc
 """

print("--- %s seconds ---" % (time.time() - start_time))

--- 0.00011229515075683594 seconds ---

#The run time for the cached data is 0.0001, compared to the original runtime of 1.7000. This is significantly faster than the original runtime indicating that caching the data can make queries much faster.

In [18]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data
df.write.partitionBy("date_built").mode("overwrite").parquet("date_built_partitioned")

In [19]:
# 11. Read the parquet formatted data.
p_df=spark.read.parquet('date_built_partitioned')

In [20]:
# 12. Create a temporary table for the parquet data.
p_df.createOrReplaceTempView('p_date_built_p')

In [21]:
# 13. Run the query that filters out the view ratings with average price of greater than or equal to $350,000
# with the parquet DataFrame. Round your average to two decimal places.
# Determine the runtime and compare it to the cached version.

start_time = time.time()

query_sql = """
SELECT (ROUND(AVG(price), 2)), view
 FROM home_sales
 GROUP BY view
 HAVING AVG(price)>=350000
 ORDER BY view desc
 """


print("--- %s seconds ---" % (time.time() - start_time))

--- 8.296966552734375e-05 seconds ---

The runtime for the parquet data is 8.2970 compared to the runtime for the original 1.7000 and .0001 for the cached data, indicating that paraquet data is slower to run compared to both the original and cached data.

In [22]:
# 14. Uncache the home_sales temporary table.
spark.catalog.uncacheTable("home_sales")

In [23]:
# 15. Check if the home_sales is no longer cached
spark.catalog.isCached('home_sales')

False